.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--grey-light);
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: lightcoral;
}

.yellow {
  background-color: lightyellow;
}

.orange {
  background-color: lightsalmon;
}

.purple {
  background-color: lightpink;
}
