.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  width: 20em;
}

.form__form-label {
  margin: 0;
  font-size: 2em;
}
.form__motto-label {
  width: 100%;
  text-align: left;
  margin: 0;
}
.form__entry-label {
  width: 100%;
  text-align: left;
  margin: 0;
}
.form__motto {
  margin: 1em;
  width: 100%;
}
.form__entry {
  margin: 1em;
  width: 100%;
  resize: none;
}
.form__submit {
  margin: 1em;
  width: 6em;
}
